{# include CSS #}
<link rel="stylesheet" href={{ url_for("client_application.static", filename="css/main.css") }} />

{# include javascript #}
<script src= {{ url_for("client_application.static", filename="js/jquery-2.2.0.min.js") }}></script>
<script src= {{ url_for("client_application.static", filename="js/client_application.js") }}></script>
