{% extends "_application.jinja" %}

{# change title #}
{% block title %}Builds Dashboard{% endblock %}

{# content for main block #}
{% block content %}

<div class='main'>Main block</div>

{% endblock content %}
